---
title: Sinopse
---
<main role="main" class="galeria">
  <div class="imagem" data-vide-bg="assets/videos/galeria" data-vide-options="autoplay: false, loop: false, muted: true, position: 0% 0%">
  </div>

  <div class="conteudo">
    <h2>Galeria</h2>

    <div class="fotos">
      <%= link_to(image_tag('galeria/1_t.jpg'), '/assets/images/galeria/1.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/2_t.jpg'), '/assets/images/galeria/2.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/4_t.jpg'), '/assets/images/galeria/4.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/5_t.jpg'), '/assets/images/galeria/5.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/6_t.jpg'), '/assets/images/galeria/6.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/7_t.jpg'), '/assets/images/galeria/7.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/8_t.jpg'), '/assets/images/galeria/8.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/9_t.jpg'), '/assets/images/galeria/9.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/10_t.jpg'), '/assets/images/galeria/10.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/11_t.jpg'), '/assets/images/galeria/11.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/12_t.jpg'), '/assets/images/galeria/12.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/13_t.jpg'), '/assets/images/galeria/13.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/14_t.jpg'), '/assets/images/galeria/14.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/15_t.jpg'), '/assets/images/galeria/15.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/16_t.jpg'), '/assets/images/galeria/16.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/17_t.jpg'), '/assets/images/galeria/17.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/18_t.jpg'), '/assets/images/galeria/18.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/19_t.jpg'), '/assets/images/galeria/19.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/20_t.jpg'), '/assets/images/galeria/20.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/21_t.jpg'), '/assets/images/galeria/21.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/22_t.jpg'), '/assets/images/galeria/22.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/23_t.jpg'), '/assets/images/galeria/23.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/24_t.jpg'), '/assets/images/galeria/24.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/25_t.jpg'), '/assets/images/galeria/25.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/26_t.jpg'), '/assets/images/galeria/26.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/27_t.jpg'), '/assets/images/galeria/27.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/28_t.jpg'), '/assets/images/galeria/28.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/29_t.jpg'), '/assets/images/galeria/29.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/30_t.jpg'), '/assets/images/galeria/30.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
      <%= link_to(image_tag('galeria/31_t.jpg'), '/assets/images/galeria/31.jpg', :class => "fancybox", :target => "_blank", :rel => "gallery") %>
    </div>
  </div>
</main>
